# fastapi
# uvicorn[standard]
# pytesseract
# pillow
# pdf2image
# python-multipart
# fastapi
# uvicorn

# fastapi
# uvicorn
# pymupdf
# pytesseract
# opencv-python-headless
# numpy
# python-multipart
# paddlepaddle
# paddleocr


fastapi
uvicorn
pymupdf
easyocr
numpy
python-multipart
Pillow
scikit-image
torch
